.di1 {
  width: 100px;
  height: 100px;
  color: white;
  background-color: black;
}
.di2 {
  width: 100px;
  height: 100px;
  color: white;
  background-color: blue;
}
.di3 {
  width: 100px;
  height: 100px;
  color: white;
  background-color: red;
}
